@import "tailwindcss";

@font-face {
  font-family: Sora;
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/Sora/Sora-VariableFont_wght.ttf");
}

@font-face {
  font-family: Fredoka;
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf");
}

@theme {
  --color-primary: #6d28d9;
  --color-secondary: #fcd34d;

  --text-xxs: 10px;

  --font-sora: Sora;
  --font-fredoka: Fredoka;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
