@import "tailwindcss";
@import "@fontsource/fredoka";
@import "@fontsource-variable/sora";

@theme {
  --color-primary: #6d28d9;
  --color-secondary: #fcd34d;

  --text-xxs: 10px;

  --font-sora: "Sora Variable", sans-serif;
  --font-fredoka: "Fredoka", system-ui;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
